<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recently Played Tracks</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&display=swap" rel="stylesheet"/>

    <link rel="stylesheet" href="../static/css/style.css" />
</head>
<body>
    <div class="tracks">
        <h2>Recently Played Tracks</h2>
        {% for artist, track in tracks %}
                <h5>{{ artist }} - {{ track }}</h5>
        {% endfor %}
    </div>
</body>
</html>