<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recently Played Tracks</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&display=swap" rel="stylesheet"/>

    <link rel="stylesheet" href="../static/css/nav.css" />
    <link rel="stylesheet" href="../static/css/style.css" />
</head>
<body>
    <nav class="navbar">
        <ul class="nav-list">
            <li class="nav-item logout-button"><a href="/logout">Logout</a></li>
            <li class="nav-item"><a href="/tracks">Top Tracks</a></li>
            <li class="nav-item"><a href="/artists">Top Artists</a></li>
            <li class="nav-item"><a href="/tracks/recent">Recently Played</a></li>
        </ul>
    </nav>

    <div class="heading">
        <h2>Recently Played Tracks</h2>
    </div>
    <div class="tracks">
        {% for index, track in enumerate(tracks) %}
        <div class="track">
            <span class="track-index">{{ index + 1 }}</span>
            <div class="track-cover">
                <a href="{{ track.song_url }}" target="_blank">
                    <img src="{{ track.cover_art }}" alt="Cover Art">
                </a>
            </div>
            <div class="track-info">
                <div class="track-header">
                    <span class="track-played">{{ track.played_at }}</span>
                    <span class="track-name">{{ track.name }}</span>
                </div>
                <a href="{{ track.artist_url }}" target="_blank">
                    <span class="track-artist">{{ track.artist }}</span>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</body>
</html>