<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top Tracks</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&display=swap" rel="stylesheet"/>

    <link rel="stylesheet" href="../static/css/nav.css" />
    <link rel="stylesheet" href="../static/css/top.css" />
</head>
<body>
    <nav class="navbar">
        <ul class="nav-list">
            <li class="nav-item logout-button"><a href="/logout">Logout</a></li>
            <li class="nav-item"><a href="/tracks">Top Tracks</a></li>
            <li class="nav-item"><a href="/artists">Top Artists</a></li>
            <li class="nav-item"><a href="/tracks/recent">Recently Played</a></li>
        </ul>
    </nav>

    <div class="heading">
        <h2>Top Tracks</h2>
    </div>
    <div class="time-range">
        <label for="timerange">Select Time Range:</label>
        <select name="time" id="timerange" onchange="changeTimeRange(this.value, 'tracks')">
            <option value="short_term">4 Weeks</option>
            <option value="medium_term">6 Months</option>
            <option value="long_term">1 Year</option>
        </select>
    </div>
    <div class="tracks">
        {% for index, track in enumerate(tracks) %}
        <div class="track">
            <span class="track-index">{{ index + 1 }}</span>
            <div class="track-cover">
                <img src="{{ track.cover_art }}" alt="Cover Art">
            </div>
            <div class="track-info">
                <div class="track-header">
                    <a href="{{ track.song_url }}" target="_blank">
                        <span class="track-name">{{ track.name }}</span>
                    </a>
                    <span class="track-popularity">{{ track.popularity }}</span>
                </div>
                <span class="track-album">{{ track.album }}</span>
                <span class="track-duration">{{ track.duration }}</span>
                <a href="{{ track.artist_url }}" target="_blank">
                    <span class="track-artist">{{ track.artist }}</span>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>

    <script src="../static/js/script.js"></script>
</body>
</html>