:root {
    --background: #101010;
    --button: #1db954;
    --text: #f0f0f0;
    --alt-color: #b3b3b3;
    --alt-color2: #7d7d7d;
    --font-family: "Noto Sans Mono", "Consolas", monospace;
}

a, a:visited {
    text-decoration: none;
    color: inherit;
}

body {
    background: var(--background);
    font-family: var(--font-family);
    height: 100vh;
    margin: 0;
}

.heading,
.time-range {
    text-align: center;
    color: var(--text);
}

.time-range {
    margin: -10px 0 50px;
}

.time-range label,
.time-range select {
    font-size: 1rem;
    color: var(--text);
}

.time-range label {
    margin-right: 10px;
}

.time-range select {
    padding: 5px 10px;
    background-color: var(--background);
    border: 1px solid var(--alt-color);
    border-radius: 5px;
    outline: none;
    transition: border-color .3s;
}

.time-range select:hover, .time-range select:focus {
    border-color: var(--button);
}

.track, .artist {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.track-index, .artist-index {
    font-size: 1rem;
    width: 40px;
    text-align: right;
    margin-left: 25%;
    margin-right: 30px;
    color: var(--alt-color);
}

.track-info, .artist-info {
    color: var(--text);
}

.track-header, .artist-header {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 3px;
}

.track-name, .artist-name {
    font-size: 1rem;
    font-weight: bold;
    display: inline;
}

.track-duration, .artist-popularity, .track-popularity {
    font-size: .8rem;
    color: var(--alt-color);
    text-align: right;
    margin-left: 30%;
    display: flex;
    position: absolute;
}

.artist-popularity, .track-popularity {
    text-decoration: underline;
    text-decoration-style: dotted;
    text-underline-offset: 3px;
}

.artist-popularity:hover::after, .track-popularity:hover::after {
    content: 'popularity score';
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    color: var(--alt-color);
    border-radius: 3px;
    white-space: nowrap;
    font-size: .6rem;
    z-index: 10;
    opacity: 0;
    transition: opacity .3s;
    pointer-events: none;
}

.artist-popularity:hover::after, .track-popularity:hover::after {
    opacity: 1;
}


.track-album, .artist-followers {
    font-size: .7rem;
    margin-bottom: 12px;
    display: block;
    color: var(--alt-color2);
}

.track-artist, .artist-genres {
    font-size: .8rem;
    color: var(--alt-color);
    display: inline;
}

.track-name:hover, .track-artist:hover, .artist-name:hover {
    text-decoration: underline;
}

.track-cover img, .artist-cover img {
    width: 96px;
    height: 96px;
    border-radius: 5px;
    margin-right: 25px;
}
